.pic img {
    width: 100%;
    height: 500px;
}

.parag-1 {
    color: #75767f;
    width: 100%;
    height: 250px;
    background-color: #e8e6e0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-bleu {
    color: white;
    background-color: #26a2cc;
}

.color {
    color: #26a2cc;
}

.bold {
    font-weight: bold;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-cards {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    margin-top: 30px;

}

.color-2 {
    color: #848993;
}

.color-3 {
    color: #dbcfc7;
}

.box {
    margin-top: 90px;
    padding: 0px 10%;

}

.but {
    height: 50px;
    background-color: #26a2cc;
    color: white;
    border-radius: 5px;
    border: none;

}

.cards-2 {

    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.card {
    margin-right: 80px;
    img{
        object-fit: cover;
    }
}
.card-2 {
    margin-right: 70px;
}

.card-3 {
    margin-right: 250px;
}
.card-body-2{
    margin-top: 15px;
}

.cards-2 .card {

    margin-top: 100px;
    height: 265px;
    background-color: #38485f;

}

.cards-2 .card-2 {
    
    margin-top: 100px;
    height: 265px;
    background-color: #38485f;

}

.cards-2 .card-3 {
    
    margin-top: 100px;
    height: 265px;
    background-color: #38485f;

}